<!DOCTYPE html>
<html>
<head>
    <title>Placement Readiness</title>
</head>
<body>
    <h2>Student Placement Prediction</h2>

    <form action="/predict" method="post">
        Attendance: <input type="number" name="attendance"><br><br>
        Avg Marks: <input type="number" name="avg_marks"><br><br>
        Python: <input type="number" name="python"><br><br>
        SQL Skill: <input type="number" name="sql_skill"><br><br>
        Aptitude: <input type="number" name="aptitude"><br><br>
        Communication: <input type="number" name="communication"><br><br>

        <button type="submit">Predict</button>
    </form>
</body>
</html>
